.spin-container {
  position: fixed; /* 將元素的定位方式設為固定定位，使其相對於瀏覽器窗口定位 */
  top: 0; /* 將元素的上邊緣設為距離窗口上邊緣0像素的位置 */
  left: 0; /* 將元素的左邊緣設為距離窗口左邊緣0像素的位置 */
  right: 0; /* 將元素的右邊緣設為距離窗口右邊緣0像素的位置 */
  bottom: 0; /* 將元素的下邊緣設為距離窗口下邊緣0像素的位置 */
  display: flex; /* 將元素的顯示方式設為Flexbox，這是一種用於在一維空間（行或列）內對項目進行佈局、對齊和分佈的工具 */
  align-items: center; /* 在Flexbox佈局中，將元素的子項目在垂直方向（交叉軸）上居中對齊 */
  justify-content: center; /* 在Flexbox佈局中，將元素的子項目在水平方向（主軸）上居中對齊 */
  background-color: rgb(255 255 255 / 30%); /* 為元素設置背景顏色，這裡使用了帶有透明度的白色 */
}
